.header{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navigationButton{
    opacity: 50%;
    height: 60%;
    width: 12vw;
    margin: 25px;
    border-radius: 20px;
    position: relative;
    font-size: x-large;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 300ms, transform 300ms;
}

.navigationButton:hover{
    opacity: 100%;
}
.navigationButton:first-child:hover{
    transform: translateX(10%) scale(120%);
}
.navigationButton:last-child:hover{
    transform: translateX(-10%) scale(120%)
}

.navigationButton:first-child{
    text-align: right;
    box-shadow: 2px 1px 10px 0px white;
}
.navigationButton:last-child{
    text-align: left;
    box-shadow: -2px 1px 10px 0px white;
}
.navImageButton{
    border-radius: 20px 20px 0 0;
    position: absolute;
    left: 0;
    top:0;
    height: 70%;
    width: 100%;
}

.navTextDiv{
    color: white;
    width: 100%;
    height: 30%;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    border-radius: 0 0 20px 20px;
}

.homeNavLink{
    text-decoration: none;
    color: white;
    opacity: 25%;
    font-size: x-large;
    transition: transform 500ms, opacity 500ms;
}

.homeNavLink:hover{
    opacity: 100%;
    transform: scale(150%);
}

@keyframes loadAnimation {
    0%{
        transform: scale(0%);
    }
    100%{
        transform: scale(100%);
    }
}

.learningButton{
    position: fixed;
    right: 10px;
    top:10px;
    width: 6vh;
    height: 6vh;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: rgba(9, 19, 19, 0.82);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.learningButton img{
    width: 60%;
    height: 60%;
    transition: transform 300ms;
}

.learningButton:hover{
    box-shadow: inset black 0 0 10px 3px;
}

.learningButton:hover img{
    transform: scale(110%);
}